<form action="/songs" method="post">
  Song Name: <input type="text" name="song[name]">

  Artist Name: <input type="text" name="song[artist][name]">

  Song Genre: <input type="text" name="song[genre][name]">
  <input type="submit">
</form>
